/* --------------------------------------------------------------------
   Hinweis-Text
   -------------------------------------------------------------------- */   

.fdrag_phi_Input
{
	  color: black;
	  font-size: 100.01%;
	  font-family:'Lucida Grande',sans-serif;
	  margin:0; padding:20px;
	  border:1px inset #D2DADA;
	  width:800px;
}

#fdrag_phi_Input_Col
{
	float:left;	
	overflow:hidden;
}

#fdrag_phi_Input_Footer
{
	clear:both;
	padding-bottom:10px;
}


.fdrag_phi_Input li
{
	margin-left:10px;
	padding:15px 0;
	border-top:thin dashed;
	border-color: #D2DADA;
}

.fdrag_phi_Input label
{
	float:left;
	width:150px;
	font-weight:bold;
	vertical-align:top;
}

.fdrag_phi_Input ul
{
	padding:0;
}

.fdrag_phi_donate
{
	  color: black;
	  font-size: 100.01%;
	  font-family:'Lucida Grande',sans-serif;
	  text-align:center;
	  margin:0; padding:20px;
	  border:1px inset #D2DADA;
	  width:800px;	
}
